<ion-header>
  <ion-toolbar>
    <!-- Botón para volver al login -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div id="registerContainer">
      <ion-img id="registerLogo" src="assets/imagenes/Logo_DuocUC.svg.png"></ion-img>

      <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
        <!-- Nombre -->

        <ion-item>
          <ion-input type="text" formControlName="name" placeholder="Nombre completo"></ion-input>
          <ion-icon *ngIf="getFieldState('name') === 'invalid'" name="warning-outline" color="danger"></ion-icon>
          <ion-icon *ngIf="getFieldState('name') === 'valid'" name="checkmark-circle-outline" color="success"></ion-icon>        
        </ion-item>


        <!-- RUT -->
        <ion-item>
          <ion-input type="text" formControlName="rut" placeholder="RUT ej:1234567-8"></ion-input>
          <ion-icon *ngIf="getFieldState('rut') === 'invalid'" name="warning-outline" color="danger"></ion-icon>
          <ion-icon *ngIf="getFieldState('rut') === 'valid'" name="checkmark-circle-outline" color="success"></ion-icon>
        </ion-item>

        <!-- Correo -->
        <ion-item>
          <ion-input type="email" formControlName="email" placeholder="Correo institucional"></ion-input>
          <ion-icon *ngIf="getFieldState('email') === 'invalid'" name="warning-outline" color="danger"></ion-icon>
          <ion-icon *ngIf="getFieldState('email') === 'valid'" name="checkmark-circle-outline" color="success"></ion-icon>
        </ion-item>
  
        <!-- Contraseña -->
        <ion-item>
          <ion-input type="password" formControlName="password" placeholder="Contraseña"></ion-input>
          <ion-icon *ngIf="getFieldState('password') === 'invalid'" name="warning-outline" color="danger"></ion-icon>
          <ion-icon *ngIf="getFieldState('password') === 'valid'" name="checkmark-circle-outline" color="success"></ion-icon>
        </ion-item>

        <!-- Confirmar Contraseña -->
        <ion-item>
          <ion-input type="password" formControlName="confirmPassword" placeholder="Confirmar contraseña"></ion-input>
        </ion-item>
        <div id="coinciden">
          <ion-text *ngIf="registerForm.errors?.['passwordsMismatch']" color="danger">
            Las contraseñas no coinciden
          </ion-text>
        </div> 
        
        <!-- Botón de Registro -->
        <ion-button id="registerButton" expand="block" type="submit" [disabled]="registerForm.invalid">
          Registrarse
        </ion-button>
      </form>
    </div>
  </ion-card>
</ion-content>
