@import "~@angular/material/prebuilt-themes/indigo-pink.css"; 

.fade-in {
    animation: fadeIn 2s ease-in-out;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.spinner-container {
    color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Asegura que el contenedor ocupe todo el espacio */
  }
  