ion-content {
  --background: linear-gradient(to bottom, #00416a, #e4e5e6);
}

#loginDiv {
  text-align: center;
  display: block;
  width: fit-content;
  margin-top: 20px;
}

#loginCard{
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
}

#iHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

#passCont,
#emailCont,
#checkCont{

  margin-top: 10px;

}


#emailInput,
#passwordInput,
#termsItem {
  width: 100%;
}


#duocLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logButton{
  margin-top: 10px;
}

form {
  width: 100%;
  max-width: 400px;
  border-radius: 8px;   
  box-sizing: border-box;
}


#errorMessages {
  margin-top: -10px;
  margin-bottom: 20px;
}

#termsItem {
  margin-top: 16px;
  display: flex;
  align-items: center;
}
